/* reset styles */
html{color:#000;background:#FFF;font-family: "Open Sans", sans-serif;font-size: 14px}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}select{border: none;-webkit-appearance: none;-moz-appearance: none;text-indent: 1px;text-overflow: ''}select::-ms-expand {display: none;}

/* base styles */

a {
	text-decoration: none;
	color: #ff4848;
}

hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #bebebe;
    margin: 1em 0;
    padding: 0;
}

strong{
	font-weight: bold;
}
/* $block__#element_$modififier */

/*row*/
.row {
	margin-right: -20px;
	margin-left: -20px;
}

.row:after{
	content:'';
	display: block;
	clear: both;
}

.row__col-right {
	float: right;
	padding-left: 20px;
	padding-right: 20px;
}

.row__col-left {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}

.row__col-offset-2 {
	margin-left: 16.666666%;
}

.row__col-1,
.row__col-2,
.row__col-3,
.row__col-4,
.row__col-5,
.row__col-6,
.row__col-7,
.row__col-8,
.row__col-9,
.row__col-10,
.row__col-11,
.row__col-12{
	box-sizing: border-box;
	padding-right: 20px;
	padding-left: 20px;
	float: left;
	min-height: 1px;
}

.row__col-1{
	width: 8.3333333%;
}
.row__col-2{
	width: 16.666666%;
}
.row__col-3{
	width: 25%;
}
.row__col-4{
	width: 33.3333333%;
}
.row__col-5{
	width: 41.6666666%;
}
.row__col-6{
	width: 50%;
}
.row__col-7{
	width: 58.3333333%;
}
.row__col-8{
	width: 66.6666666%;
}
.row__col-9{
	width: 75%;
}
.row__col-10{
	width: 83.333333%;
}
.row__col-11{
	width: 91.666666%;
}
.row__col-12{
	width: 100%;
}

/*offset*/

.offset_top_60{
	margin-top: 60px;
}

.offset_top_30 {
	margin-top: 30px;
}

.offset_top_10 {
	margin-top: 10px;
}

.offset_bottom_10{
	margin-bottom: 10px;
}

.offset_bottom_30 {
	margin-bottom: 30px;
}

.offset_bottom_60 {
	margin-bottom: 60px;
}

/*jus-cont*/

.jus-cont{
	text-align: justify;
}

.jus-cont:after{
	content:'';
	display: inline-block;
	width: 100%;
}

.jus-cont__item{
	display: inline-block;
	text-align: initial;
}

/*container-fluid*/
.container-fluid{
	width: 100%;
	min-width: 1150px;
}

.container-fluid_lightgray{
	background-color: #f5f5f5;
}

.container-fluid_darkgray{
	background-color: #2a2a2a;
}

/* container */
.container {
	max-width: 1150px;
	min-width: 870px;
	margin-left: auto;
	margin-right: auto;
}

.container:after{
	content:'';
	display: block;
	clear: both;
}

.container_fix {
	min-width: 1150px;
}

/* about-menu */
.about-menu {
	line-height: 45px;
}

.about-menu__item{
	text-decoration: none;
	color: #5b5b5b;
	display: inline-block;
}

.about-menu__item:not(:first-child){
	padding-left: 9px;
}

.about-menu__item:not(:last-child):after{
	content:'';
	display: inline-block;
	padding-left: 12px;
	height: 10px;
	border-right: 1px solid #cbcbcb;
}


.about-menu__item:hover{
	color: #ff4848;
	transition:.3s;
}

/*user-menu*/

.user-menu{
	position: relative;
}

.user-menu__box{
	text-decoration: none;
	font-size: 15px;
	line-height: 45px;
	color: #7e7e7e;
	cursor: pointer;
	transition:.3s;
}

.user-menu__box:hover{
	color: #ff4848;
}

.user-menu__icon{
	margin-left: 2px;
	margin-right: 3px;
	vertical-align: middle;
}

.user-menu__dropdown{
	display: none;
	background-color: white;
	position: absolute;
	border: 1px solid #e6e6e6;
	padding: 7px 12px;
	min-width: 144px;
	right: 5px;
	top: 38px;
	z-index: 11;
}

.user-menu:hover .user-menu__dropdown{
	display: block;
}

.user-menu__item{
	color: #7e7e7e;
	font-size: 14px;
	display: block;
	text-decoration: none;
	line-height: 24px;
	transition: .3s;
}

.user-menu__item:hover{
	color: #ff4848;
}

.user-menu__item_login{
	display: inline-block;
	padding-right: 6px;
}

.user-menu__item_login:after{
	content:'';
	display: inline-block;
	height: 10px;
	border-right: 1px solid #cdcdcd;
	padding-left: 6px;
}

.user-menu__item_registration{
	display: inline-block;
}

/* logo */

.logo{
	display: inline-block;
}

.logo_in-header{
	padding-left: 4px;
	padding-top: 12px;
	padding-bottom: 19px;
}

.logo_in-footer{
	padding-top: 45px;
	padding-bottom: 45px;
	margin-right: 60px;
}

/*call-us*/

.call-us{
	text-align: center;	
}

.call-us__title{
	letter-spacing: 3px;
	color: #9b9b9b;
	font-size: 24px;
	line-height: 25px;
}

.call-us__phone{
	color: #0c0a0b;
	font-weight: 600;
	font-size: 36px;
	line-height: 38px;
}

.call-us__red{
	color: #ed1c24;
}

.call-us__schedule{
	color: #8d8d8d;
	font-size: 18px;
	line-height: 18px;
}

.call-us_in-header{
	width: 656px;
	margin-top: 28px;
	margin-right: -100px;
}

/*search*/

.search{
	position: relative;
	width: 303px;
	display: inline-block;
}

.search__input{
	float: left;
	border:1px solid #ff4848;
	padding: 12px;
	height: 17px;
	color: #0b0b0b;
	font-size: 16px;
	width: 224px;
}

.search__submit{
	width: 53px;
	height: 43px;
	border: none;
	background-color: #ff4848;
	background-image: url(../img/search-button.png);
	background-repeat: no-repeat;
	background-position: center;
	float: right;
	cursor: pointer;
}

.search_in-header{
	margin-top: 46px;
}

.search__input::-webkit-input-placeholder {color: #0b0b0b;}
.search__input::-moz-placeholder          {color: #0b0b0b;}/* Firefox 19+ */
.search__input:-moz-placeholder           {color: #0b0b0b;}/* Firefox 18- */
.search__input:-ms-input-placeholder      {color: #0b0b0b;}

/*main-menu*/

.main-menu{
	position: relative;
}

.main-menu__item{
	float: left;
	width: 25%;
	text-align: center;
	line-height: 45px;
	box-sizing: border-box;
	border-right:1px solid #bbbbbb;
	text-decoration: none;
	color: #383838;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

.main-menu__item:first-child{
	border-left:1px solid #bbbbbb;	
}

.main-menu__item:hover{
	background-color: #ff4848;
	color: white;
}

.main-menu__dropdown{
	display: none;
	background-color: #1b1b1b;
	position: absolute;
	width: 100%;
	left: 0;
	top: 45px;
	z-index: 11;
	border-top:1px solid transparent;
	border-bottom-right-radius: 3px; 
	border-bottom-left-radius: 3px;
}

.main-menu__item:hover .main-menu__dropdown{
	display: block;
}

.main-menu__subitem{
	width: 10%;
	position: relative;
	float: left;
	height: 92px;
	box-sizing: border-box;
	padding-top: 58px;
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 14px;
	font-weight: 600;
	border-bottom-right-radius: 3px; 
	border-bottom-left-radius: 3px;
}
.main-menu__subitem:not(:last-child):after{
	content:'';
	display: block;
	position: absolute;
	height: 71px;
	right: -1px;
	top: 14px;
	border-right: 1px solid #282828;
}

.main-manu__icon{
	position: absolute;
	bottom: 44px;
	left: 50%;
	transform: translateX(-50%);
}

.main-manu__icon_inverse{
	display: none;
}

.main-menu__subitem:hover{
	background-color: #ff4848;
	color: #1b1b1b;
}

.main-menu__subitem:hover .main-manu__icon_inverse{
	display: block;
}

/*title*/
.title{
	color: #0c0a0b;
	border-bottom:1px solid #bebebe;
	margin-top: 46px;
	margin-bottom: 40px;
}

.title__text{
	font-size: 36px;
	position: relative;
	bottom: -1px;
	display: inline-block;
	line-height: 63px;
	padding-right: 50px;
	border-bottom: 5px solid #ff4848;
}

.title_small .title__text {
	font-size: 18px;
	border-bottom: 2px solid #ff4848;
	padding-right: 25px;
	line-height: 28px;
}

/*button*/

.button{
	cursor: pointer;
	display: inline-block;
	box-sizing: border-box;
	text-decoration: none;
	font-weight: 600;
	vertical-align: middle;
	text-align: center;
	background-color: white;
	color: #ff4848;
	border: 1px solid #c2c2c2;
	border-radius: 4px;	
	height: 45px;
	min-width: 45px;
	line-height: 45px;
	padding: 0 15px;
	font-size: 20px;	
}

.button_100 {
	width: 100%;
}

.button_small{
	border-radius: 3px;
	height: 37px;
	min-width: 37px;
	line-height: 37px;
	padding: 0 10px;
	font-size: 16px;
}

.button_big{
	border-radius: 5px;	
	height: 55px;
	min-width: 55px;
	line-height: 55px;
	padding: 0 20px;
	font-size: 24px;
}

.button_red{
	border: none;
	background-color: #ff4848;
	color: white;
}

.button_gray{
	color: white;
	color: #4c4a4a;
}

.button_red:hover{
	background-color: #ff6868;
}

/*product__left-label*/

.product{
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 60px;
}

.product__images-wrap{
	height: 145px;
}

.product__image{
	max-width: 100%;
	max-height: 100%;
}

.product__left-label {
	position: absolute;
	left: 0;
	top: -25px;
}

.product__right-label {
	position: absolute;
	right: 10px;
	top: -10px;
}

.product__title-wrap{
	height: 35px;
}

.product__title{
	color: #3f3e3f;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	width: 250px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}

.product__ingredients-wrap{
	height: 50px;
}

.product__ingredients{
	color: #7a7a7a;
	font-size: 12px;
	line-height: 14px;
	display: block;
	overflow: hidden;
	max-height: 44px;
	text-decoration: none;
	padding-left: 15px;
}

.product__price-wrap{
	height: 35px;
}

.product__price-wrap:after{
	content:'';
	position: relative;
	display: block;
	width: 100%;
	border-bottom: 1px solid #cecece;
	left: 0;
	top: -16px;
	z-index: 1;
}

.product__price{
	position: relative;
	z-index: 2;
	color: #ff4848;
	font-size: 24px;
	font-weight: 600;
	background-color: white;
	padding-left: 15px;
	padding-right: 15px;
}
.product__curency{
	color: #ff4848;
	font-size: 14px;
	font-weight: 600;	
}

.product__diet{
	height: 50px;
}
.product__kcal{
	display: inline-block;
	padding-left: 20px;
	height: 20px;
	line-height: 20px;
	background: url(../img/kcal.png) no-repeat left;
	font-size: 12px;
	color: #777;
}

.product__gramm{
	display: inline-block;
	padding-left: 20px;
	height: 20px;
	line-height: 20px;
	background: url(../img/gramm.png) no-repeat left;
	margin-left: 8px;
	font-size: 12px;
	color: #777;
}
.product__compare{
	padding: 0;
	line-height: 34px;
	color: #a1a1a1;
}
.product__wish{
	padding: 0;
	color: #a1a1a1;
}
.product__wish.button_red,
.product__compare.button_red{
	color: white;
}
.product__buy{
	width: 168px;
}

/*visit-us*/

.visit-us {
	background: url(../img/visit-our-restaurant.jpg) no-repeat center;
	background-size: cover;
}

.visit-us__title{
	font-size: 30px;
	color: white;
	margin-top: 35px;
	margin-bottom: 35px;
	font-weight: bold;
}

.visit-us__text{
	color: white;
	font-size: 16px;
	font-weight: 300;
}

.visit-us__location{
	color: white;
	font-size: 16px;
	font-family: 
}

.visit-us__more{
	width: 280px;
	margin-top: 20px;
}

.visit-us__slider{
	margin-left: 32px;
	margin-right: 32px;
	position: relative;
}

.visit-us__slider img {
	height: 390px;
}

.visit-us__slider .flex-next,
.visit-us__slider .flex-prev{
	display: block;
	position: absolute;
	width: 32px;
	height: 390px;
	background-color: #2e2e2e;
	top: 0;
	background-position: center;
	background-repeat: no-repeat;
}

.visit-us__slider .flex-next{
	left: -32px;
	background-image: url(../img/arrow-left.png);
}

.visit-us__slider .flex-prev{
	right: -32px;	
	background-image: url(../img/arrow-right.png);	
}

/*how-we-work*/

.how-we-work__title{
	color: #ff4848;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.how-we-work__item{
	text-align: center;
	font-size: 18px;
	color: #4d4b4b;
	position: relative;
	margin-bottom: 85px;
}

.how-we-work__equal,
.how-we-work__plus{
	position: absolute;
	top: 40px;
	right: -30px;
	font-weight: bold;
	font-size: 60px;
	color: #4c4a4a;
}

/*articles-slider*/

.articles-slider{
	position: relative;
	margin-bottom: 110px;
}

.articles-slider .flex-control-nav{
	position: absolute;
	bottom: -50px;
	left: 550px;
}

/*article*/
.article{
	margin-bottom: 40px;
}

.article:after {
	content:'';
	display: block;
	clear: both;
}

.article__image{
	float: left;
	margin-right: 28px;
	width: 260px;
	height: 340px;
	object-fit: cover;
}
.article__post-date{

	color: #828282;
	font-size: 16px;
	line-height: 16px;
}
.article__title{
	font-weight: bold;
	font-size: 24px;
	color: #2a2929;
	margin-bottom: 16px;
	margin-top: 12px;
}
.article__text{
	font-size: 14px;
	line-height: 22px;
	color: #2a2929;
	overflow: hidden;
	font-weight: 300;
}
.article__more{
	margin-top: 40px;
	width: 160px;
}

/*latest-articles*/
.l-articles{

}
.l-articles__title{
	font-size: 21px;
	line-height: 21px;
	font-weight: 600;
	color: black;
	margin-bottom: 20px;
}
.l-articles__image{
	float: left;
	margin-right: 14px;
	width: 85px;
	height: 85px;
}
.l-articles__item:after{
	content:'';
	display: block;
	clear: both;
	margin-bottom: 19px;
}
.l-articles__text{
	padding-top: 7px;
	font-size: 15px;
	color: black;
	height: 59px;
	overflow: hidden;
}
.l-articles__more{

	font-weight: 700;
	color: #ff4e4f;
	text-decoration: none;
	font-size: 17px;
	line-height: 17px;
}

.l-articles__all{
	color: #ff4848;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	background-image: url(../img/underline.png);
	background-repeat: repeat-x;
	background-position: bottom;
}

/*advantages*/
.advantages{
	cursor: pointer;
	margin-top: 85px;
	margin-bottom: 80px;
}

.advantages__item{
	position: relative;
}

.advantages__icon{
	margin-top: 10px;
	float: left;
	opacity: 1;
	transition:.3s;
	margin-right: 10px;
	margin-bottom: 20px;
}

.advantages__icon_inverse{
	position: absolute;
	left: 0;
	opacity: 0;
}

.advantages__title{
	font-size: 18px;
	font-weight: 600;
	color: #666262;
	transition:.3s;
}

.advantages__text{
	font-size: 14px;
	font-weight: 300;
	color: #666262;
}

.advantages__item:hover .advantages__icon{
	opacity: 0;
}

.advantages__item:hover .advantages__icon_inverse{
	opacity: 1;
}

.advantages__item:hover .advantages__title{
	color: #ff4848;
}

/*reviews*/
.reviews{
	padding-top: 40px;
	padding-bottom: 20px;
	background: url(../img/reviews.jpg) no-repeat center;
	background-size: cover;
}
.reviews__slider{
	text-align: center;
}
.reviews__image{
	width: 170px;
	height: 170px;
	object-fit: cover;
	border-radius: 50%;
}
.reviews__text{
	font-size: 16px;
	color: #383838;
	margin: 40px;
	position: relative;
}
.reviews__text:before{
	content:'';
	display: inline-block;
	position: absolute;
	width: 23px;
	height: 19px;
	background-image: url(../img/open-quotes.png);
	top: -15px;
	margin-left: -23px;
}
.reviews__text:after{
	content:'';
	display: inline-block;
	position: absolute;
	width: 23px;
	height: 19px;
	background-image: url(../img/close-quotes.png);
	right: -10px;
}
.reviews__name{
	padding-top: 18px;
	font-size: 18px;
	color: #3e3c3c;
	font-weight: 600;
	position: relative;
}


.reviews__name:before{
	content:'';
	display: block;
	width: 30px;
	border-top:1px solid #555555;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -15px;
}

.reviews__slider .flex-control-nav{
	margin-top: 30px;
}

.reviews__slider .flex-control-nav a{
  border: 2px solid #2e2e2e;
}

.reviews__slider a.flex-active{
  border-color: #ff4848;
}

/*deliver*/

.deliver{
	margin-bottom: 70px;
}
.deliver__image{
	float: right;
	margin-top: 20px;
}
.deliver__title{
	font-size: 20px;
	margin-bottom: 25px;
	color: #0c0a0b;
}
.deliver__text{
	font-size: 16px;
	color: #808080;
	font-weight: 300;
	width: 620px;
}

.deliver__more{
	margin-top: 25px;
	width: 160px;
}

/*footer-menu*/

.footer-menu{
	-webkit-columns: 4;
	-moz-columns: 4;
	columns: 4;
	padding-top: 60px;
	width: 670px;
}

.footer-menu__item{
	display: block;
	line-height: 27px;
	font-size: 14px;
	color: #858686;
	font-weight: 300;
	text-decoration: none;
	text-shadow: 0 0 1px rgba(133, 134, 134, 0.6);
	transition:.3s;
}

.footer-menu__item:hover{
	color: #ff4848;
}

/*social-buttons*/

.social-buttons{
	margin-top: 73px;
}
.social-buttons_in-footer{

}
.social-buttons__item{
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url(../img/social.png);
	border-radius: 1px;
}

.social-buttons__item_vk{
	background-position: 0 0;
}
.social-buttons__item_tw{
	background-position: -30px 0;
}
.social-buttons__item_lj{
	background-position: -60px 0;
}
.social-buttons__item_ok{
	background-position: -90px 0;
}
.social-buttons__item_gp{
	background-position: -120px 0;
}
.social-buttons__item_fb{
	background-position: -150px 0;
}

.social-buttons__item_vk:hover{
	background-position: 0 24px;
}
.social-buttons__item_tw:hover{
	background-position: -30px 24px;
}
.social-buttons__item_lj:hover{
	background-position: -60px 24px;
}
.social-buttons__item_ok:hover{
	background-position: -90px 24px;
}
.social-buttons__item_gp:hover{
	background-position: -120px 24px;
}
.social-buttons__item_fb:hover{
	background-position: -150px 24px;
}

/*page-nav*/

.page-nav{
	display: block;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 40px;
}

.page-nav__item {
	font-weight: 600;
	font-size: 24px;
	line-height: 19px;
	height: 20px;
	display: inline-block;
	width: 15px;
	text-decoration: none;
	color: #403f3f;
	vertical-align: middle;
	margin-right: 3px;
	margin-left: 3px;
}

.page-nav__item_active{
	font-weight: bold;
}

.page-nav__item_prev{
	background-image: url(../img/page-nav-left.png);
}

.page-nav__item_next{
	background-image: url(../img/page-nav-right.png);
}

/*contact-info*/

.contact-info__item{
	font-size: 18px;
	font-weight: 300;
	color: #0c0a0b;
}

.contact-info__item img{
	vertical-align: middle;
}

/*contact-form*/

.contact-form{
	margin-bottom: 70px;
}

.contact-form__title{
	font-size: 24px;
	color: #343434;
	margin-bottom: 30px;
	margin-top: 30px;
}

.contact-form__item{
	width: 270px;
}

	

/*input*/

.input{
	background-color: white;
	border:1px solid #e6e6e6;
	border-radius: 1px;
	font-size: 12px;
	font-weight: 300;
	padding: 0 15px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	box-sizing:border-box;
	vertical-align: middle;
}

.input_textarea {
	height: 200px;
	width: 500px;
	padding: 10px;
	line-height: normal;
	resize: none;
}

.input_100 {
	width: 100%;
}

.input_round {
	border: 1px solid #c2c2c2;
	border-radius: 5px;
	font-weight: 400;
	padding-top: 0;
	padding-bottom: 0;
	height: 37px;
	line-height: 37px;
	text-align: center;
}

/*rating*/

.rating{
	position: relative;
	height: 16px;
	display: inline-block;
	background-image: url(../img/star.png);
	font-size: 0;
	
}
.rating__value{
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	background-color: white;
	background-image: url(../img/star-active.png);	
}

.rating__star{
	position: relative;
	display: inline-block;
	height: 16px;
	width: 18px;
}

.rating:hover .rating__star{
	background-color: white;
	background-image: url(../img/star-active.png);
}

.rating__star:hover~.rating__star{
	background-color: white;
	background-image: url(../img/star.png);	
}

/*ingredients*/

.ingredients{
	
}

.ingredients__title{
	color: #2e2e2e;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.ingredients__item{
	text-align: center;
	width: 70px;
	display: inline-block;
}

.ingredients__icon{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #2e2e2e;
	border-radius: 50%;
	position: relative;
}

.ingredients__icon img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.ingredients__name{
	font-size: 13px;
	color: #636363;
	font-weight: 300;
}

/*share-buttons*/

.share-buttons{
	display: inline-block;
	vertical-align: middle;
}
.share-buttons__item{
	display: inline-block;
	width: 23px;
	height: 23px;
	background-image: url(../img/socials-color.png);
}
.share-buttons__item_fb{
	background-position: 0 0;
}
.share-buttons__item_vk{
	background-position: -25px 0;
}
.share-buttons__item_ml{
	background-position: -51px 0;
}
.share-buttons__item_tw{
	background-position: -76px 0;
}

/*product-cart*/

.product-cart{
	margin-top: 80px;
	margin-bottom: 80px;
}
.product-cart__image-wrap{
	width: 750px;
	min-height: 400px;
	padding-right: 30px;
	vertical-align: middle;
	text-align: center;
}
.product-cart__image{
	max-width: 100%;
	max-height: 100%;
}
.product-cart__name{
	color: #2e2e2e;
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
}
.product-cart__text{
	font-size: 14px;
	color: #6f6f6f;
	font-weight: 300;
	line-height: 18px;

}
.product-cart__weight{
	font-size: 15px;
	color: #636363;
	font-weight: 300;
}
.product-cart__price{
	font-size: 20px;
	color: #ff4848;
	font-weight: bold;
}
.product-cart__compare{
	background: url(../img/opposite5.png) no-repeat center;
}
.product-cart__wish{
	background: url(../img/like.png) no-repeat center;
}
.product-cart__buy{
	width: 168px;
}
.product-cart__share-buttons-wrap{
	color: #343434;
	font-size: 16px;
	font-weight: 600;

}

/*diet-table*/

.diet-table{
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
}
.diet-table__title{
	color: #2e2e2e;
	font-size: 15px;
	font-weight: 600;
	background-color: #eeeeee;
	height: 40px;
	text-align: center;
}
.diet-table__label{
	font-size: 14px;
	color: #494949;
	background-color: #f4f4f4;
	height: 40px;
	text-align: center;
	border-right: 1px solid white;
}
.diet-table__value{
	font-weight: 600;
	color: #2e2e2e;
	font-size: 14px;
	background-color: #fbfbfb;
	height: 40px;
	text-align: center;
	border-right: 1px solid white;	
}

@media (max-width: 1720px){
	.container{
		margin-right: 300px;
		margin-left: 20px;
	}
	.container_fix{
		margin-left: auto;
		margin-right: auto;
	}
}

/*floating-shoping-cart*/


.floating-shoping-cart{
	width: 280px;
	position: absolute;
	right: 0;
	top: auto;
	background-color: white;
	padding: 0 13px;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-radius: 3px;
	z-index: 9;
}

.floating-shoping-cart_fixed {
	position: fixed;
	top: 0;
}

.floating-shoping-cart__top {
	overflow: hidden;
}

.floating-shoping-cart__middle {
	overflow-y: scroll;
	padding-right: 3px;
}
.floating-shoping-cart__bottom {
	overflow: hidden;
}


/*shoping-cart*/

.shoping-cart {
	overflow: hidden;
}

.shoping-cart__user{
	text-align: center;
	height: 44px;
	line-height: 44px;
	width: 278px;
	margin-left: -13px;
	border-bottom: 1px solid #e6e6e6;
}

.shoping-cart__icon{
	vertical-align: middle;
	margin-bottom: 2px;
	margin-right: 10px;
}
.shoping-cart__login{
	font-size: 16px;
	color: #3d3d3d;
	text-decoration: none;
}

.shoping-cart__login:after{
	content:'';
	display: inline-block;
	height: 12px;
	margin-left: 13px;
	border-right: 1px solid #3c3c3c;
}
.shoping-cart__register{
	margin-left: 10px;
	font-size: 16px;
	color: #3d3d3d;
	text-decoration: none;
}
.shoping-cart__title{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 16px;
	color: #ff4848;
	font-weight: 600;
}

.shoping-cart__item td{
	padding-top: 13px;
	padding-bottom: 20px;
}

.shoping-cart__item:not(:last-child) td{
	border-bottom: 1px solid #e6e6e6;
}


.shoping-cart__item-count{
	padding-right: 5px;
}

.shoping-cart__item-name{
	font-size: 13px;
	color: #3f3e3f;
	line-height: 15px;
}
.shoping-cart__item-price{
	font-size: 14px;
	color: #3d3d33;
	font-weight: 600;
}
.shoping-cart__item-remove{
	width: 10px;
	height: 10px;
	background-image: url(../img/delete-icon.png);
	display: inline-block;
	margin-left: 10px;
}

.shoping-cart__checkout{
	width: 100%;
	margin-top: 22px;
	margin-bottom: 22px;
}

/*number*/
.number_small{
	border: none;
	width: 40px;
	height: 20px;
	font-size: 14px;
	color: #3d3d3d;
	font-weight: 600;
}

.number_medium{
	border:1px solid #b8b6b6;
	width: 60px;
	height: 44px;
	box-sizing: border-box;
	text-align: center;
	font-weight: 600;
	font-size: 15px;
	color: #b7b7b7;
}

/*modal*/

.modal{
	width: 850px;
	padding: 15px;
	box-sizing: border-box;
	background: #f9f9f9;
	overflow: hidden;
}

.modal__title{
	color: #3c3c3c;
	font-size: 24px;
	margin-top: 10px;
	font-weight: 600;
	margin-bottom: 30px;
}

.modal__buttons{
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: right;
}

/*wishlist*/

.wishlist{
	box-sizing: border-box;
	border:1px solid #e0e0e0;
	border-radius:3px;
	margin-bottom: 20px;
	padding: 25px 15px 25px 150px;
	position: relative;
}
.wishlist__image{
	position: absolute;
	left: 32px;
	top: 50%;
	transform: translateY(-50%);
}
.wishlist__title{
	font-size: 16px;
	font-weight: 600;
	color: #767676;
	margin-bottom: 8px;
}
.wishlist__ingredients{
	color: #7a7a7a;
	font-weight: 300;
	line-height: 14px;
	font-size: 12px;
	margin-bottom: 5px;
}
.wishlist__price{
	font-size: 16px;
	font-weight: 600;
	color: #ff4848;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	margin-right: 10px;
}
.wishlist__buy{
	width: 170px;
}

.wishlist__remove{
	position: absolute;
	display: block;
	background-image: url(../img/delete.png);
	background-size: 100%;
	width: 20px;
	height: 20px;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
}

/*products-table*/

.products-table{
	width: 100%;
	font-size: 15px;
}

.products-table th{
	text-align: center;
	vertical-align: middle;
	height: 38px;
	background-color: #f4f4f4;
	border: none;
}

.products-table td{
	text-align: center;
	vertical-align: middle;
	height: 100px;
	border-bottom: 1px solid #ededed;
}

.products-table__remove-wrap{
	width: 20px;
}
.products-table__image-wrap{
	width: 125px;
}
.products-table__name-wrap{
	width: 380px;
}
.products-table__buy{
	width: 225px;
}

.products-table__ingredients {
	display: block;
	color: #7a7a7a;
	font-weight: 300;
	line-height: 14px;
	font-size: 12px;
}

.products-table__price-wrap{
	text-align: center;
}
.products-table__count-wrap{
	text-align: center;
}
.products-table__sum-wrap{
	text-align: right;
	padding-right: 20px;
}

.products-table__remove{
	background-image: url(../img/delete.png);
	width: 20px;
	height: 20px;
	display: inline-block;
	background-size: 100%;
}

.products-table__buy{
	width: 100%;
}

.products-table__sum{
	font-weight: 600;
	color: #ff4848;
}

/*cart-total*/

.cart-total{
	width: 250px;
}
.cart-total__label{
	font-size: 16px;
	color: #353535;
	padding-top: 5px;
	padding-bottom: 5px;
}

.cart-total__value{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
	color: #353535;
	text-align: right;
}

.cart-total__result td{
	border-top: 1px solid #d9d9d9;
	font-weight: 600;
}

.cart-total_right{
	float: right;
	margin-right: 20px;
}

/*registration*/

.registration__title{
	text-align: center;
	font-size: 18px;
	color: #343434;
	font-weight: 300;
	margin-bottom: 30px;
}

.registration__button{
	margin-bottom: 40px;
	margin-top: 40px;
	font-size: 16px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*reg-social*/

.reg-social_in-modal {
	margin-top: 100px;
	text-align: right;
}

.reg-social__title{
	font-size: 18px;
	color: #343434;
	font-weight: 300;
	margin-bottom: 30px;
}

.reg-social__item{
	display: inline-block;
	margin-bottom: 10px;
	width: 260px;
}

/*date-picker*/
.date-picker{

}

.date-picker__item:focus{
	outline: none;
}

.date-picker__item{
	cursor: pointer;
	background: white;
	margin-right: 15px;
}

/*login*/

.login{

}

.login_or-register{
	padding-right: 50px;
	border-right:1px solid #e5e5e5; 
	position: relative;
}

.login_or-register:after{
	content: 'или';
	display: block;
	position: absolute;
	right: -15px;
	background-color: white;
	font-size: 14px;
	font-weight: 600;
	color: #878686;
	height: 20px;
	text-align: center;
	width: 30px;
	margin-top: -10px;
	top: 50%;
}

.login__title{
	text-align: center;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 300;
	color: #6d6d6d;
}

.login__forgot{
	height: 35px;
	line-height: 35px;
	display: block;
	text-align: right;
	text-decoration: none;
	color: #ff4848;
	font-size: 12px;
	font-weight: 600;
}

/*login-social-button*/

.login-social-button{
	height: 38px;
	line-height: 40px;
	font-size: 12px;
	color: white;
	background-size: cover;
	text-decoration: none;
	padding-left: 48px;
	box-sizing:border-box;
	vertical-align: middle;
	display: inline-block;
	border-radius:2px;
	text-align: left;
	max-width: 100%;
}

.login-social-button_big{
	height: 45px;
	line-height: 45px;
	padding-left: 60px;
}

.login-social-button_vk{
	background-image: url(../img/login-vk.png);
	background-repeat: no-repeat;
}

.login-social-button_fb{
	background-image: url(../img/login-fb.png);
	background-repeat: no-repeat;
}

/*new-user*/
.new-user__title{
	font-size: 18px;
	font-weight: 300;
	color: #6d6d6d;
	margin-bottom: 15px;
}
.new-user__text{
	font-size: 12px;
	font-weight: 300;
	color: #787878;
}
.new-user__link{
	margin-top: 20px;
	width: 190px;
}

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}

/*flexslider styles for bento web site*/

.flex-control-nav li{
  display: inline-block;
}

.flex-control-nav a{
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 3px solid #c2c2c2;
  font-size: 0;
  color: transparent;
  background-color: transparent;
  box-sizing: border-box;
  margin: 4px;
  border-radius: 50%;
}

a.flex-active{
  background-color: #ff4848;
  border-color: #ff4848;
}

/*error*/
.error {
	font-size: 12px;
	color: #ff6868;
}

/*.fancybox-iframe*/
.fancybox-iframe {
	overflow: hidden;
}

#comparelist {
	width: 980px;
}

#register {
	width: 980px;
}

#login {
	width: 760px;
}

/*main-slider*/

.main-slider img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
}

.main-slider{
	width: 100%;
	padding-bottom: 28%;
	overflow: hidden;
	height: 0;
	background: black;
}

.main-slider,
.footer {
	position: relative;
	z-index: 10;
}

/*text*/
.text_center {
	text-align: center;
}

.text_right {
	text-align: right;
}

/*optional-input*/
.optional-input {

}
.optional-input__checkbox {
	display: none;
}
.optional-input__input {
	color: #969696;
}

.optional-input__checkbox:checked + .optional-input__input {
	color: black;
}

/*sub-title*/
.sub-title	 {
	color:  #3f3e3f;
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
}

/*history-total*/

.history-total {
	background-color: #c2c2c2;
	height: 40px;
	line-height: 40px;
	color: white;
	font-weight: bold;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 16px;
}
.history-total__value {
	color: #ff4848;
}

/*toggle-arrow*/
.toggle-arrow {
	transition: .5s;
	display: inline-block;
	transform: rotate(180deg);
	cursor: pointer;
}

.toggle-arrow__active {
	transform: rotate(0);
}

/*image*/
.image_round {
	border-radius: 50%;
}

/*fa*/
.fa-red {
	color: #ff4848;
}


/*slide-info*/
.slide-info {
	position: relative;
}
.slide-info__link {
	cursor: pointer;
	text-decoration: underline;
	background-color: #f4f4f4;
	color: #3f3e3f;
	height: 38px;
	line-height: 38px;
	margin-bottom: -10px;
	margin-top: -10px;
	text-align: center;
	display: block;
}
.slide-info__content {
	background-color: rgba(255,255,255,.8);
	padding: 10px;
	text-align: center;
	z-index: 9;
	width: 100%;
	box-sizing: border-box;
	top: 38px;
}

/*form-group*/
.form-group {
	border: 1px solid #e7e7e7;
	padding: 20px;
}

/*scrollbar*/
::-webkit-scrollbar {
background: transparent;
	overflow: visible;
	width: 17px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	border: solid #fff;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-thumb:horizontal {
	border-width: 4px 6px;
	min-width: 40px;
}

::-webkit-scrollbar-thumb:vertical {
	border-width: 6px 4px;
	min-height: 40px;
}

::-webkit-scrollbar-track-piece {
	background-color: #fff;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #ADADAD;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

::-webkit-scrollbar-thumb:hover {
	background-color: #999;
}