<div class="modal">
	<div class="modal__title">ВАША КОРЗЖИНА</div>
	<table class="products-table">
		<tr>
			<th></th>
			<th>Товары</th>
			<th></th>
			<th class="products-table__price-wrap">Цена</th>
			<th class="products-table__count-wrap">Количество</th>
			<th class="products-table__sum-wrap">Сумма</th>
		</tr>
		<tr>
			<td class="products-table__remove-wrap"><a href="" class="product-table__remove"></a></td>
			<td class="products-table__image-wrap"><img src="sample-images/thumbnail-product-1.jpg" alt=""></td>
			<td class="products-table__name-wrap">Роллы Таку</td>
			<td class="products-table__price-wrap">200 грн</td>
			<td class="products-table__count-wrap"><input type="number" name="" value="1" class="number number_medium"></td>
			<td class="products-table__sum-wrap"><span class="products-table__sum">200 грн</span></td>
		</tr>
	</table>
	<span class="button button_red button_small container-fluid">При заказе на сумму от 200 грн - доставка бесплатная!</span>
	<div class="container">
		<table class="cart-total cart-total_right">
			<tr>
				<td class="cart-total__label">Сумма</td>
				<td class="cart-total__value">300 грн</td>
			</tr>
			<tr>
				<td class="cart-total__label">Скидка</td>
				<td class="cart-total__value">-20 грн</td>
			</tr>
			<tr>
				<td class="cart-total__label">Доставка</td>
				<td class="cart-total__value">25 грн</td>
			</tr>
			<tr class="cart-total__result">
				<td class="cart-total__label">ИТОГО</td>
				<td class="cart-total__value">300 грн</td>
			</tr>						
		</table>
	</div>
	<div class="modal__buttons">
		<a href="" class="button button_small button_gray">Продолжить покупки</a>
		<a href="" class="button button_small button_red">Оформить заказ</a>
	</div>
</div>