<div class="modal">
	<div class="modal__title">СРАВНЕНИЕ ТОВАРОВ</div>
	<div class="jus-cont">
		<div class="compare-product jus-cont__item">
			<img src="sample-images/thumbnail-product-1.jpg" alt="" class="compare-product__image">
			<div class="compare-product__title">Роллы ТакуМаки</div>
			<div class="compare-product__ingredients">Авокадо, нори, икра красная, креветки тигровые, огурец, рис, лосось, японский майонез</div>
			<div class="compare-product__price">200 грн</div>
			<a href="" class="compare-product__buy button button_small">В КОРЗИНУ</a>
			<a href="" class="compare-product__remove"></a>
		</div>
		<div class="compare-product jus-cont__item">
			<img src="sample-images/thumbnail-product-1.jpg" alt="" class="compare-product__image">
			<div class="compare-product__title">Роллы ТакуМаки</div>
			<div class="compare-product__ingredients">Авокадо, нори, икра красная, креветки тигровые, огурец, рис, лосось, японский майонез</div>
			<div class="compare-product__price">200 грн</div>
			<a href="" class="compare-product__buy button button_small">В КОРЗИНУ</a>
			<a href="" class="compare-product__remove"></a>
		</div>
		<div class="compare-product jus-cont__item">
			<img src="sample-images/thumbnail-product-1.jpg" alt="" class="compare-product__image">
			<div class="compare-product__title">Роллы ТакуМаки</div>
			<div class="compare-product__ingredients">Авокадо, нори</div>
			<div class="compare-product__price">200 грн</div>
			<a href="" class="compare-product__buy button button_small">В КОРЗИНУ</a>
			<a href="" class="compare-product__remove"></a>
		</div>				
	</div>
</div>