<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>bento</title>
	<link rel="stylesheet" href="js/fancybox/jquery.fancybox.css">
	<link rel="stylesheet" href="js/flexslider/flexslider.css">
	<!-- Шрифт Istok Web был в дизайне, используется один раз, лучше его удалить для большей производительности -->
	<!-- <link href='https://fonts.googleapis.com/css?family=Istok+Web|Open+Sans:400,300,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'> -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container-fluid container-fluid_lightgray">
		<div class="container">
			<div class="about-menu container__col-left">
				<a href="" class="about-menu__item">О ресторане</a>
				<a href="" class="about-menu__item">Оставить отзыв</a>
				<a href="" class="about-menu__item">Вакансии</a>
				<a href="" class="about-menu__item">Партнеры</a>
				<a href="" class="about-menu__item">Блог</a>
			</div>
			<div class="user-menu container__col-right">
				<div class="user-menu__box">
					<img class="user-menu__icon" src="img/user-menu-icon.png" alt="">
					МОЙ АККАУНТ
					<img src="img/user-menu-caret.png" alt="" class="user-menu__icon">
				</div>
				<div class="user-menu__dropdown">
					<a href="" class="user-menu__item user-menu__item_login">Вход</a>
					<a href="" class="user-menu__item user-menu__item_registration">Регистрация</a>
					<a href="" class="user-menu__item">Избранное</a>
					<a href="" class="user-menu__item">Мои сравнения</a>
					<a href="" class="user-menu__item">Корзина</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="container__col-left">
			<a href="" class="logo logo_dark logo_in-header">
				<img src="img/dark-logo.png" alt="">
			</a>
		</div>
		<div class="container__col-left call-us call-us_in-header">
			<div class="call-us__title">ПРИЕМ ЗАКАЗОВ</div>
			<div class="call-us__phone">
				048<span class="call-us__red">-</span>77<span class="call-us__red">-</span>55<span class="call-us__red">-</span>000
			</div>
			<div class="call-us__schedule">
				с 10:00 до 22:30 ежедневно
			</div>
		</div>
		<div class="container__col-right search search_in-header">
			<input type="text" placeholder="Поиск..." class="search__input">
			<button class="search__submit"></button>
		</div>
	</div>
	<div class="container-fluid container-fluid_lightgray">
		<div class="container main-menu">
			<div class="main-menu__item">МЕНЮ
				<div class="main-menu__dropdown">
					<a href="" class="main-menu__subitem">
						<img src="img/main-menu-1.png" alt="" class="main-manu__icon">
						<img src="img/main-menu-1-hover.png" alt="" class="main-manu__icon main-manu__icon_inverse">
						СУШИ
					</a>
					<a href="" class="main-menu__subitem">
						<img src="img/main-menu-2.png" alt="" class="main-manu__icon">
						<img src="img/main-menu-2-hover.png" alt="" class="main-manu__icon main-manu__icon_inverse">
						РОЛЛЫ
					</a>
					<a href="" class="main-menu__subitem">
						<img src="img/main-menu-3.png" alt="" class="main-manu__icon">
						<img src="img/main-menu-3-hover.png" alt="" class="main-manu__icon main-manu__icon_inverse">
						САЛАТЫ
					</a>
					<a href="" class="main-menu__subitem">
						<img src="img/main-menu-4.png" alt="" class="main-manu__icon">
						<img src="img/main-menu-4-hover.png" alt="" class="main-manu__icon main-manu__icon_inverse">
						СУПЫ
					</a>
					<a href="" class="main-menu__subitem">
						<img src="img/main-menu-5.png" alt="" class="main-manu__icon">
						<img src="img/main-menu-5-hover.png" alt="" class="main-manu__icon main-manu__icon_inverse">
						ЗАКУСКИ
					</a>
					<a href="" class="main-menu__subitem">
						<img src="img/main-menu-6.png" alt="" class="main-manu__icon">
						<img src="img/main-menu-6-hover.png" alt="" class="main-manu__icon main-manu__icon_inverse">
						ГОРЯЧЕЕ
					</a>
					<a href="" class="main-menu__subitem">
						<img src="img/main-menu-7.png" alt="" class="main-manu__icon">
						<img src="img/main-menu-7-hover.png" alt="" class="main-manu__icon main-manu__icon_inverse">
						ЛАПША И РИС
					</a>
					<a href="" class="main-menu__subitem">
						<img src="img/main-menu-8.png" alt="" class="main-manu__icon">
						<img src="img/main-menu-8-hover.png" alt="" class="main-manu__icon main-manu__icon_inverse">
						СЕТЫ
					</a>
					<a href="" class="main-menu__subitem">
						<img src="img/main-menu-9.png" alt="" class="main-manu__icon">
						<img src="img/main-menu-9-hover.png" alt="" class="main-manu__icon main-manu__icon_inverse">
						НАПИТКИ
					</a>
					<a href="" class="main-menu__subitem">
						<img src="img/main-menu-10.png" alt="" class="main-manu__icon">
						<img src="img/main-menu-10-hover.png" alt="" class="main-manu__icon main-manu__icon_inverse">
						ДЕСЕРТЫ
					</a>
				</div>
			</div>
			<a href="" class="main-menu__item">ДОСТАВКА И ОПЛАТА</a>
			<a href="" class="main-menu__item">НОВОСТИ И АКЦИИ</a>
			<a href="" class="main-menu__item">НАШИ КОНТАКТЫ</a>
		</div>
	</div>
	<div class="main-slider flexslider">
		<ul class="slides">
			<li><img src="sample-images/slide-1.jpg" alt=""></li>
			<li><img src="sample-images/slide-1.jpg" alt=""></li>
			<li><img src="sample-images/slide-1.jpg" alt=""></li>
		</ul>
	</div>
	<div class="container">
		<div class="container__main">
			<div class="title">
				<div class="title__text">НОВОСТИ И АКЦИИ</div>
			</div>
			<div class="article">
				<img src="sample-images/article-1.jpg" alt="" class="article__image">
				<div class="article__post-date">25 Октября</div>
				<div class="article__title">Мастер-класс от шефа</div>
				<div class="article__text">
						Задача организации, в особенности же дальнейшее развитие различных 
						форм деятельности способствует подготовки и реализации дальнейших 
						направлений развития. С другой стороны начало повседневной работы 
						по формированию позиции представляет собой интересный эксперимент 
						проверки позиций, занимаемых участниками в отношении поставленных 
						задач. 
						<br><br>
						Таким образом консультация с широким активом влечет за собой 
						процесс внедрения и модернизации направлений прогрессивного...
				</div>
				<a href="" class="article__more button button_red">ЧИТАТЬ</a>
			</div>			
			<div class="article">
				<img src="sample-images/article-1.jpg" alt="" class="article__image">
				<div class="article__post-date">25 Октября</div>
				<div class="article__title">Мастер-класс от шефа</div>
				<div class="article__text">
						Задача организации, в особенности же дальнейшее развитие различных 
						форм деятельности способствует подготовки и реализации дальнейших 
						направлений развития. С другой стороны начало повседневной работы 
						по формированию позиции представляет собой интересный эксперимент 
						проверки позиций, занимаемых участниками в отношении поставленных 
						задач. 
						<br><br>
						Таким образом консультация с широким активом влечет за собой 
						процесс внедрения и модернизации направлений прогрессивного...
				</div>
				<a href="" class="article__more button button_red">ЧИТАТЬ</a>
			</div>
			<div class="article">
				<img src="sample-images/article-1.jpg" alt="" class="article__image">
				<div class="article__post-date">25 Октября</div>
				<div class="article__title">Мастер-класс от шефа</div>
				<div class="article__text">
						Задача организации, в особенности же дальнейшее развитие различных 
						форм деятельности способствует подготовки и реализации дальнейших 
						направлений развития. С другой стороны начало повседневной работы 
						по формированию позиции представляет собой интересный эксперимент 
						проверки позиций, занимаемых участниками в отношении поставленных 
						задач. 
						<br><br>
						Таким образом консультация с широким активом влечет за собой 
						процесс внедрения и модернизации направлений прогрессивного...
				</div>
				<a href="" class="article__more button button_red">ЧИТАТЬ</a>
			</div>
			<div class="page-nav">
				<a href="" class="page-nav__item page-nav__item_prev"></a>
				<span href="" class="page-nav__item page-nav__item_active">1</span>
				<a href="" class="page-nav__item">2</a>
				<a href="" class="page-nav__item">3</a>
				<a href="" class="page-nav__item page-nav__item_next"></a>
			</div>
		</div>
			<div class="container__side l-articles">
				<div class="title">
					<div class="title__text">БЛОГ</div>
				</div>
				<div class="l-articles__title">Наиболее популярные</div>
				<div class="l-articles__item">
					<img src="sample-images/thumbnail-article-1.jpg" alt="" class="l-articles__image">
					<div class="l-articles__text">Как сделать вкусный десерт</div>
					<a href="" class="l-articles__more">Читать</a>
				</div>
				<div class="l-articles__item">
					<img src="sample-images/thumbnail-article-2.jpg" alt="" class="l-articles__image">
					<div class="l-articles__text">Как сделать вкусный десерт</div>
					<a href="" class="l-articles__more">Читать</a>
				</div>
				<div class="l-articles__item">
					<img src="sample-images/thumbnail-article-1.jpg" alt="" class="l-articles__image">
					<div class="l-articles__text">Как сделать вкусный десерт</div>
					<a href="" class="l-articles__more">Читать</a>
				</div>								
				<a href="" class="l-articles__all">Смотреть все новости</a>
			</div>
	</div>
	<div class="container-fluid container-fluid_darkgray">
		<div class="container">
			<div class="container__col-left">
				<a href="" class="logo logo_light logo_in-footer">
					<img src="img/light-logo.png" alt="">
				</a>
			</div>
			<div class="container__col-left footer-menu">
				<a href="" class="footer-menu__item">Меню</a>
				<a href="" class="footer-menu__item">Новости и акции</a>
				<a href="" class="footer-menu__item">Наши контакты</a>
				<a href="" class="footer-menu__item">Партнеры</a>
				<a href="" class="footer-menu__item">Вакансии</a>
				<a href="" class="footer-menu__item">BentoBar</a>
				<a href="" class="footer-menu__item">Условия доставки</a>
				<a href="" class="footer-menu__item">Доставка</a>
			</div>
			<div class="container__col-right social-buttons social-buttons_in-footer">
				<a href="" class="social-buttons__item social-buttons__item_vk"></a>
				<a href="" class="social-buttons__item social-buttons__item_tw"></a>
				<a href="" class="social-buttons__item social-buttons__item_lj"></a>
				<a href="" class="social-buttons__item social-buttons__item_ok"></a>
				<a href="" class="social-buttons__item social-buttons__item_gp"></a>
				<a href="" class="social-buttons__item social-buttons__item_fb"></a>
			</div>
		</div>
	</div>
	<script src="http://localhost:35729/livereload.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="js/fancybox/jquery.fancybox.min.js"></script>
	<script src="js/flexslider/jquery.flexslider.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>